// Typography

$font-style: normal;
$font-variant: normal;
$font-weight: normal;
$font-color: #222;
$font-size: 1rem;
$line-height: 1.5;
$font-family: 'Noto Sans', sans-serif;
$header: 'Fjalla One', sans-serif;
@fa-font-path:        "/webfonts";

// Colors

$white: #ffffff;
$black: #2a2e31;
$gray: #99a1a8;
$purple: #6559d3;
$yellow: #e2ae39;
$blue: #51acbd;
$red: #ed145b;
$teal: #00a87a;
$orange: #ee662b;
